.btn {
  border-radius: 0;
  border: 1px solid black;
}

.calc  {
  margin-top: 15%
}

body {
  background-color: grey;
  font-family: monospace;
}

.display {
  background-color: white;
  text-align: right;
    border: 1px solid black;
    font-size: 20px;
}
